<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddUpdateIngredient(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control"
                        name="name" #name="ngModel" ngModel required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity"
                        class="form-control" name="quantity"
                        #quantity="ngModel" ngModel="1" required
                        pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <button class="btn btn-success" type="submit"
                            [disabled]="!form.valid">{{ (addMode) ?
                            'Add' : 'Update' }}</button>
                        <button class="btn btn-danger" type="button"
                            *ngIf="!addMode"
                            (click)="onDelete()">Delete</button>
                        <button class="btn btn-warning" type="button"
                            [disabled]="!form.touched"
                            (click)="clearForm()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>