<label>Server Name</label>
<!-- <input type="text" (input)="onServerNameEntry($event)"> -->

<input type="text" class="form-control" [(ngModel)]="serverName">
<button (click)="onCreateServer()" class="btn btn-primary" [disabled]="createServerDisabled">Add Server</button>

<label>User Name</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<button class="btn" [disabled]="userName==''" (click)="userName = ''">Check User</button>
<p>{{ userName }}</p>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Welcome to {{ title }}</h3>
            Test
        </div>
        <div class="col-xs-12">
            <app-warning_alert></app-warning_alert>
        </div>
        <div class="col-xs-12">
            <app-success-alert></app-success-alert>
        </div>
        <div class="col-xs-12">
            Server Status {{ serverStatus }}
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="displayDetails()">Display Details</button>
            <p *ngIf="detailsDisplayed">Details: top secret!</p>
        </div>
        <div class="col-xs-12">
            <p *ngFor="let clickTimestamp of clickTimestamps;let ind = index"
                [ngStyle]="getStyle(ind)"
                [ngClass]="{white:ind > 3}">Click at {{ clickTimestamp}}</p>
        </div>
    </div>
</div>